MYSQL_USER=dev_db
MYSQL_PASSWORD=dev_password
MYSQL_ROOT_PASSWORD=dev_root_password
RABBITMQ_USER=user
RABBITMQ_PASS=pass
PM2_PUBLIC_KEY=
PM2_SECRET_KEY=
ELASTICSEARCH_USER=
ELASTICSEARCH_PASSWORD=