$color-black: #000
$color-white: #fff
$color-red: #f00

$color-primary: #ffd201
$color-secondary: #43a3ac
$color-success: #31af00
$color-preorder: #fb590d
$color-button-hover: #f0b300
$color-review-star: #fed130

//background color
$color-bg-footer: #000
$color-bg-footer-dark: #353535
$color-bg-light: #f4f4f4
$color-bg-ligher: #f5f5f5
$color-bg-mask: rgba(193, 193, 193, 0.7)
$color-bg-grey: #f9f9f9
$color-bg-light-grey: #efefef
$color-bg-guarantee: #9c9c9c
$color-bg-fbt: #b3b3b3
$color-bg-secondary: #2D8993
$color-divider: #f0f0f0
$color-header-divider: #979797
$color-mask-mid: rgba(0, 0, 0, 0.57)
$color-mask-white: rgba(255, 255, 255, 0.8)
$color-options: #4a4a4a
$color-border-selectbox-white: #e0e0e0

//fonts
$font-family-default: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
$font-family-heading: DINCondensed, 'HelveticaNeue-CondensedBold', 'Helvetica Neue'

$color-required: #D0011B
$color-bg-required: #FCF5F5
$color-font-darker: #c4c4c4
$color-font-grey: #808080
$color-dark: #262626
$color-dark-main: #242424
$color-price: #353535
$color-font-out-pre: #a9a9a9
$color-font-dark: #333
$color-font-review-date: #868686
$color-font-article-about: #e1e1e1
$color-font-breadcrumb-active: #9b9b9b
$color-font-modal-tab: #dcdcdc
$color-font-filter: #949494
$color-review-icon: #e6e6e6
$color-font-category-description: #606060
$color-font-notes: #9d9d9d
$color-border-radio-input: #d2d2d2
$color-arrow-mobile: #989898
$color-bg-message-success: #f5f9f4
$color-border-message-success: #e2f0dd
$color-bg-message-notice: #F1FAFB
$color-border-message-notice: #E7F2F4
$color-message-error: #ffecee
$color-border-message-error: #f2bdbd
$color-message-error-icon: #ec3031
$color-font-message-error: #ef4848
$color-star-error: #ce0b24
$color-button-increase: #eaeaea
$color-button-increase-border: #c1c1c1
$color-primary-myaccount: #f1b319
$color-bg-nav-hover: #F0B300
$color-font-filter: #949494
$color-font-price-red: #fc0e1c
$color-shadow-dark: rgba(22, 22, 22, 0.8)

$font-size-small: 13px //s
$font-size-medium: 14px //m
$font-size-large: 15px  //l
$font-size-xlarge: 16px //xl
$font-size-head-small: 18px
$font-size-head-medium: 22px
$font-size-head-call: 30px

$line-height-medium: 23px

$font-weight-light: 100
$font-weight-normal: 400
$font-weight-bolder: 600
$font-weight-medium: 300
$font-weight-bold: 500


//border
$item-border: 1px solid #ddd
$input-border: 2px solid #ddd
$input-border-hover: 3px solid #ccc
$border-nav-right: 1px solid #e1e1e1
$color-border-grey: #eee


//width
$width-container: 1180px
$width-container-medium: 1000px


//Forms
$color-label: rgba(0,0,0,0.54)
$color-helper: rgba(0,0,0,0.54)
$color-input: rgba(0,0,0,0.87)
$color-label-disabled: rgba(0,0,0,0.42)
$color-placeholder: rgba(0,0,0,0.42)
